* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.options-container {
    display: flex;
    gap: 50px;
    width: 700px;
}

.option {
    padding: 20px;
}